.text {
    width: 600px;
    margin: auto;
    margin-top: 20px;
    line-height: 1.7;
    color: #ffff00;
    font-size: 26px;
    text-align: center;
    text-shadow: 0 0 2px #fff;

    -webkit-text-stroke-color: #ffff00;
    -webkit-text-stroke-width: .5px;
    -webkit-text-fill-color: transparent;
}

.error {
        width: 500px;
    margin: auto;
}