
*, *:after, *:before {
    box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  font-family: sans-serif;
  font-size: 16px;
  background-color: darkgray;
  background-image:  url(@static/bg7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

img {
  display: block;
}

.header__text {
  line-height: 1.7;
  font-size: 26px;
 color: rgb(184, 52, 74);
    background-image: linear-gradient(to right, rgb(202, 58, 82), purple);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   color: transparent;
}
